<nav class="navbar navbar-expand-lg bg-transparent py-1" data-bs-theme="dark">
 <div class="container">
   <a class="navbar-brand fs-3 fw-semibold" href="{{ url_for('web.home') }}"><i class="bi bi-camera-reels me-1 text-primary"></i>Groovy Movies</a>
   <button class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarContent"
     aria-controls="navbarContent"
     aria-expanded="false"
     aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarContent">
     <ul class="navbar-nav ms-auto">
       {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link d-flex align-items-center fw-semibold" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
            <i class="bi bi-person-circle fs-2 ms-1"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ url_for('web.profile') }}">Profile</a>
            <a class="dropdown-item" href="{{ url_for('web.your_reviews') }}">Your Reviews</a>
            <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">Logout</a>
          </div>
        </li>
       {% else %}
         <li class="nav-item">
           <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{{ url_for('auth.register') }}">Signup</a>
         </li>
       {% endif %}
     </ul>
   </div>
 </div>
</nav>